* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* it means that paddings and borders are included in height and width values */
}

#opener {

    width: 100%;
    height: 100vh;
    background-image: url(images/pr.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.quote {
    position: relative;
    top: 100px;
    left: 100px;
    z-index: 1000;
    width: 60%;

}

h2 {
    color: #E92228;
    font-family: 'Times New Roman', Times, serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variant-numeric: 
        "wdth" 100;
    font-size: 45px;
    line-height: 1.5;
}
h3 {
    color: #E92228;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400px;
    font-style: normal;
    font-size: 30px;
    margin-top: 20px;
}

.middle {
    position: relative;
    top: -10px;
    left: 480px;
    z-index: 1000;
    width: 60%;
    margin: 100px 50px 100px -10px;
}

.flex-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    background-size: cover;
    background-position: bottom;
}

.column {
    width: 33%;
    margin: 100px 50px 100px 50px;

}

ul {
    list-style-type: none;
}

li {

    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400px;
    font-style: normal;
    font-size: 20px;
    color: #E92228;
    padding: 10px 0px 10px 0px;
}

h4 {
    font-family: 'Times New Roman', Times, serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
    font-variant-numeric: 
        "wdth" 100;
    font-size: 30px;
    color: #E92228;
    margin-bottom: 40px;
}

span {
    font-size: 15px;
    color: white;
    text-transform: uppercase;
    display: block;
    margin-top: 5px;
}

iframe {
    margin: 100px 50px 100px 50px;
}

#video-section {
    background-image: none;
    background-color: black;
}