h1 {
   color: rgb(255, 255, 255);
   font-size: 60px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}

body {
   background-color: #000000;
}

p { 
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #0f4caf;
   
}