* {
    box-sizing:border-box;
    margin:0;
    padding:0;
}

body {
    font-family: 'Inter', serif;
}

#intro {
    background-color: #A7C7E7;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

#title {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 10%; /* ADD AT TEND */
}

.btn {
    border-radius: 28px;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    color: rgb(13, 25, 72);
    font-size: 18px;
    background: #F8C8DC;
    padding: 10px 20px 10px 20px;
    margin-top: 50px;
    text-decoration: none;
    display: block;
  }
  
.btn:hover {
    background: #FFFAA0;
    text-decoration: none;
    color: rgb(13, 25, 72);
  }

h1 {
    color: rgb(13, 25, 72);
    font-family: "Caveat", cursive;
    font-size: 100px;
    font-weight: 100;
    padding-bottom: 30px;
    padding-left: 10px;
}

p {
    font-size: 16px;
    color: rgb(13, 25, 72);
    line-height: 2;
    font-family: "Inter", sans-serif;
    text-indent: 30px;
    margin: 10px;
}

/* PAGE1 */

#page1 .parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100vh;
    width: 100%;
    background-color: #FFFAA0;
}

#page1 .div1 { 
    grid-area: 1 / 1 / 2 / 2;
    padding-top: 28%;
    padding-left: 15%;
}
#page1 .div2 {
    grid-area: 1 / 2 / 2 / 3;
    padding-top: 20%;
    padding-left: 15%;
}

.mawphoto {
    width: 350px;
    height: 500px;
    border: 3px solid #A7C7E7;
    padding: 5px;
}

.rarrow {
    position: fixed;
    right: 0;
    bottom: 0;
}

.larrow {
    position: fixed;
    left: 0;
    bottom: 0;
}

.arrow {
    width: 150px;
    height: 150px;
    justify-content: bottom left;
    border: none;
    padding: 30%;
}

.larrow .arrow {
    transform: scaleX(-1);
}

.arrow:hover {
    opacity: 0.8;
}

.larrow, .rarrow {
    position: fixed;
    bottom: -85px;
    transform: translateY(-50%);
    z-index: 10; /* Set a high z-index to ensure they appear above other elements */
}

#page1 h1 {
    padding-left: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
}


/* PAGE2 */
#page2 .parent {
    height: 100vh;
    width: 100%;
    background-color: #F8C8DC;
}

#page2 .div1 {
    text-align: center;
    padding: 10%;
}

#page2 .div2 {
    text-align: center;
    border: 3px dotted #FFFAA0;
    margin: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

#page2 .div3 {
    text-align: center;
}

#page2 h2 {
    font-size: 30px;
    font-family: "Inter", sans-serif;
    color: rgb(13, 25, 72);
    padding-top: 20px;
}

#page2 p {
    font-size: 18px;
    color: rgb(13, 25, 72);
    line-height: 2;
    font-family: "Inter", sans-serif;
    text-indent: 30px;
    margin: 10px;
}

/* PAGE3 */
#page3 .parent {
    height: 100vh;
    width: 100%;
    background-color: #A7C7E7;
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gif {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* Ensure the GIF is behind the text */
}

#page3 h1 {
    font-size: 85px;
    color: #FFFAA0;
    z-index: 10;
}

/* PAGE4 */
#page4 .parent {
    height: 100vh;
    width: 100%;
    background-color: #FFFAA0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

#page4 h1 {
    font-size: 55px;
    text-align: center;
}

#page4 h2 {
    font-size: 15px;
    font-weight: 400;
    text-align: left;
    padding-left: 40px;
}

#page4 p {
    font-size: 20px;
    text-align: left;
    padding-left: 30px;
    text-indent: 0;
}
    
#page4 .div1 {
    grid-area: 1 / 1 / 2 / 2; 
    padding-top: 20%;
    padding-left: 10px;
}

#page4 .bag {
    width: 600px;
    height: 500px;
}

#page4 .div2 { 
    grid-area: 1 / 2 / 2 / 3; 
    padding-top: 50%;
    padding-right: 70px;
}

ul {
    list-style: circle;
    text-align: left;
    padding-left: 64px;
    font-size: 20px;
}

/* PAGE5 */
#page5 .parent {
    height: 100vh;
    width: 100%;
    background-color: #F8C8DC;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    }
    
 #page5 .div1 { 
      grid-area: 1 / 1 / 2 / 2; 
      text-align: center;
      background-color: #F8C8DC;

    }
#page5 .div2 { 
      grid-area: 1 / 2 / 2 / 3; 
      text-align: center;
      background-color: #F8C8DC;
    }
#page5 .div3 { 
      grid-area: 1 / 3 / 2 / 4; 
      text-align: center;
      background-color: #F8C8DC;
      padding-left: 30px;
    }
#page5 .div4 { 
      grid-area: 2 / 1 / 3 / 2; 
      text-align: center;
      background-color: #F8C8DC;
    }
#page5 .div5 { 
      grid-area: 2 / 2 / 3 / 3; 
        text-align: center;
      background-color: #F8C8DC;
    }
#page5 .div6 { 
      grid-area: 2 / 3 / 3 / 4; 
        text-align: center;
      background-color: #F8C8DC;
    }
#page5 .div7 { 
      grid-area: 3 / 1 / 4 / 2; 
        text-align: center;
      background-color: #F8C8DC;
    }
#page5 .div8 { 
      grid-area: 3 / 2 / 4 / 3; 
        text-align: center;
      background-color: #F8C8DC;
    }
#page5 .div9 { 
      grid-area: 3 / 3 / 4 / 4; 
        text-align: center;
      background-color: #F8C8DC;
    }

    .flour {
      height: 350px;
      width: 350px;
      padding-top: 50px;
    }

    .crisco {
        height: 350px;
        width: 350px;
        padding-top: 50px;
      }

    .buttermilk {
        height: 350px;
        width: 350px;
        padding-top: 50px;
      }

#page5 h1 {
    font-size: 50px;
    padding-top: 60px;
}

/*#page5 .button {
    border-radius: 28px;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    color: rgb(13, 25, 72);
    font-size: 18px;
    background: #FFFAA0;
    text-decoration: none;
    display: block;
    text-align: center;
    cursor: pointer;
    padding: 10px 20px 10px 20px;
    margin-top: -10px;
    margin-left: 140px;
    border: #A7C7E7 3px solid;
}

#page5 .button:hover {
    background: #A7C7E7;
    border: #FFFAA0 3px solid;
    text-decoration: none;
    color: rgb(13, 25, 72);
  }*/

#page5 h2 {
    font-size: 20px;
    color: rgb(13, 25, 72);
    padding-left: 20px;
    border: dotted #FFFAA0 3px;
    padding-right: 20px;
  }

#page5 .div8 {
    padding-left: 20px;
  }

/* PAGE6 */  
#page6 .parent {
    height: 100vh;
    width: 100%;
    background-color: #A7C7E7;
}

#page6 .mixing {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    height: 330px;
    border: solid 4px #F8C8DC;
    padding: 10px;
}

#page6 .div1 {
   padding-top: 20px;
}

#page6 .div1 h1 {
    text-align: center;
    font-size: 90px;
    color: rgb(13, 25, 72);
}

#page6 h2 {
    text-align: center;
    color: rgb(13, 25, 72);
    font-size: 25px;
}

#page6 .div3 {
    padding-left: 130px;
    padding-right: 130px;
    text-align: center;
    padding-top: 50px;
}

#page6 p {
    text-align: center;
    color: #FFFAA0;
    font-size: 15px;
    padding-top: 20px;
}

/* PAGE7 */
#page7 .parent {
    height: 100vh;
    width: 100%;
    background-color: #FFFAA0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

#page7 h1 {
    font-size: 70px;
    text-align: center;
}

#page7 h2 {
    font-size: 17px;
    font-weight: 400;
    text-align: left;
    padding-left: 40px;
}
    
#page7 .div1 {
    grid-area: 1 / 1 / 2 / 2; 
    padding-top: 35%;
    padding-left: 65px;
}

#page7 .cutout {
    width: 600px;
    height: 500px;
}

#page7 .div2 { 
    grid-area: 1 / 2 / 2 / 3; 
    padding-top: 20%;
    padding-right: 50px;
}

#page7 ul {
    list-style: circle;
    text-align: left;
    font-size: 20px;
}

#page7 li {
    margin-top: 5px; 
    margin-bottom: 5px; 
    text-indent: -24px;
}

/* PAGE8 */
#page8 .parent {
    height: 100vh;
    width: 100%;
    background-color: #F8C8DC;
}

#page8 .smell {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    height: 330px;
    border: solid 4px #A7C7E7;
    padding: 10px;
}

#page8 .div1 {
   padding-top: 20px;
}

#page8 .div1 h1 {
    text-align: center;
    font-size: 90px;
    color: rgb(13, 25, 72);
}

#page8 h2 {
    text-align: center;
    color: rgb(13, 25, 72);
    font-size: 25px;
}

#page8 .div3 {
    padding-left: 130px;
    padding-right: 130px;
    text-align: center;
    padding-top: 50px;
}

/* PAGE9 */
#page9 .parent {
    height: 100vh;
    width: 100%;
    background-color: #A7C7E7;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
#page9 .div1 { 
    grid-area: 1 / 1 / 3 / 2; 
    padding-left: 90px;
    padding-top: 110px
}

#page9 .div2 { 
    grid-area: 1 / 2 / 2 / 3; 
    padding-left: 160px;
    padding-top: 90px;
}

#page9 .div3 { 
    grid-area: 2 / 2 / 3 / 3; 
    padding-right: 40px;
}

#page9 .mm {
    width: 400px;
    height: 520px;
    border: #FFFAA0 3px solid;
    padding: 10px;
}

#page9 .done {
    width: 220px;
    height: 200px;
}

#page9 h2 {
    text-align: center;
    color: rgb(13, 25, 72);
    font-size: 20px;
}

#page9 p {
    text-align: center;
    color: #FFFAA0;
    font-size: 20px;
    padding-top: 20px;
    line-height: 28px;
}

#page9 h1 {
    color: rgb(13, 25, 72);
    font-family: "Caveat", cursive;
    font-size: 90px;
    padding-left: 10px;
}

#page9 h3 {
    text-align: center;
    color: rgb(13, 25, 72);
    font-size: 15px;
    padding-top: 20px;
}