html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

nav {
    width: 100%;
    background: rgb(175, 42, 42);
    overflow: hidden;
    position: sticky;
    top: 0;
}

ul {
    padding: 0;
    margin: 0 auto 0 auto;
    width: 100%;
    list-style: none;
}

li {
    display: inline-block;
}

a {
    padding: 20px;
    width: 100px;
    display: block;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
}

#section1 {
    height: 700px;
    background-image: url(images/pr.png);
    display: inline-block;
    width: 100%;
}

#section2 {
    height: 700px;
    background-color: rgb(175, 42, 42);
    display: inline-block;
    width: 100%;
}

#section3 {
    height: 700px;
    background-color: black;
    display: inline-block;
    width: 100%;
}

#section4 {
    height: 700px;
    background-color: white;
    display: inline-block;
    width: 100%;
}

#section5 {
    height: 700px;
    background-color: rgb(175, 42, 42);
    display: inline-block;
    width: 100%;
}

h1 {
    margin: 100px;
    text-align: center;
    padding: 0;
    color: rgb(175, 42, 42);
    font-size: 80px;
    text-shadow: 1px 1px black;
}

h3 {
    margin: 100px;
    text-align: center;
    padding: 0px;
    color: white;
    font-size: 40px;
    text-shadow: 1px 1px 6px black;
}

h4 {
    margin: 100px;
    text-align: center;
    padding: 0px;
    color: white;
    font-size: 20px;
    text-shadow: 1px 1px 6px black;
}